{% extends "layout.html" %}

{% block body %}
<div class="container">
    <h1 class="text-center mt-5">Education</h1>
  </div>
  <div class="container">
    <table class="table mt-5">
        <thead>
          <tr>
            <th scope="col">Degree</th>
            <th scope="col">Institution</th>
            <th scope="col">Result</th>
           
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>B.Sc</td>
            <td>Daffodil International University</td>
            <td></td>
           
          </tr>
          <tr>
            <td>H.S.C</td>
            <td>Hamdard Public College</td>
            <td>5.00</td>
           
          </tr>
          <tr>
            <td>S.S.C</td>
            <td>Nazneen School & College</td>
            <td>5.00</td>
          </tr>
        </tbody>
      </table>
  </div>

{% endblock %}